:root {
  /* Base colours */
  --base-color-accent: #6874e8;
  --base-color-gradient-1: #a8ff78;
  --base-color-gradient-2: #78ffd6;
  --base-color-black: #202123;
  --base-color-transparent-white: rgba(255, 255, 255, 0.3);

  /* Theme colours */
  --color-body-text: var(--base-color-black);
  --color-title-text: var(--base-color-accent);
  --color-box-overlay: var(--base-color-transparent-white);
}
